extends baseEmail

block content
  p Hi #{firstName},
  p You requested to reset your password.
  p Please, click on the link below to reset password.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p Just so you know: You have 1 hour to pick your password. After that, you’ll have to ask for a new one.
  p Didn’t ask for a new password? You can ignore this email.
          